@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}


a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* top menu */
.top-menu {
    background: #7E33E0;
    padding: 15px 0;
}

.top-menu a {
    color: #fff;
    font-size: 16px;
}

.top-menu .contact-info {
    display: flex;
    gap: 40px;
}


.top-menu .top-menu-item {
    display: flex;
    justify-content: end;
    gap: 20px;
}

/* main menu */
.main-menu {
    padding: 20px 0;
}

.main-menu .logo {
    flex-basis: 15%;
}

.main-menu .logo img {
    width: 100px;
}

.main-menu .main-nav {
    flex-basis: 55%;
}

.main-menu .main-nav li a {
    color: #0D0E43;
}

.main-menu .main-nav li .active {
    color: #FB2E86;
}

.main-menu .search {
    flex-basis: 30%;
}

.search-btn {
    background: #FB2E86;
    padding: 8px 14px;
    border: none;
}

.search .form-area {
    display: flex;
}

.search .form-area input {
    border: 2px solid #E7E6EF;
    padding: 8px 10px;
    width: 100%;
}

.search .form-area input:focus {
    border: 2px solid #E7E6EF;
    outline: none;
}

.search-btn i {
    color: #fff;
}

/* hero section */
.hero {
    background: #F2F0FF;
    padding: 20px;
}

.hero .text-area {
    padding: 130px 0;
}

.hero .sub-heading {
    font-family: 'Lato', sans-serif;
    color: #FB2E86;
    font-weight: 700;
}

.hero h1 {
    font-size: 48px;
    color: black;
    font-weight: bold;
}

.hero .hero-btn {
    background: #FB2E86;
    border-radius: 2px;
    padding: 16px 40px;
    color: #fff;
}